@import "../../styles/variables.scss";
@import "../../styles/container.scss";
@import "../../styles/flex.scss";
@import "../../styles/mixins.scss";

.gradientContainer{
    margin: 2rem;
    width: 35vw;
    @include respond-to(xs){
        width: 80vw;
        margin: 0;
    }

    .contentContainer{
        @extend .flexCol !optional;
        position: relative;
        gap:2vh;
        h1{
            text-align: center;
            @extend .subHeading !optional;
            height: 15vh;
            @extend .flexCol !optional;
            @include respond-to(xs){
                height: fit-content;
            }
            margin: 0;
        }
        .courseName{
            width: 80%;
        }
    }
    .imgContainer{
        height: 250px;
        width: 250px;
        img{
            object-fit: contain;
        }
        @include respond-to(xs){
            height: 200px;
            width: 200px;
        }
        @extend .imgContainer !optional;
        padding-top: 2rem;
    }
    .courseDetails{
        font-family: 'Poppins-Semibold';
        font-size: $font-size-text;
        // font-weight: normal;
        width: 80%;
        text-align: center;
        @extend .flexRow !optional;
        // padding: 2rem;
        color: $color-gray;
    }
    .btnContainer{
        padding: 2rem;
    }
    .hoverDiv{
        margin-top: 50%;
        padding: 1rem;
        line-height: 1.5;
        text-align: center;
        font-size: $font-size-text;
        color: white;
        .price{
            color: black;
            margin: auto;
        }
    }   
    transition: all 0.5s ease-in-out;
}
.price{
    background-color: #E9E9E9;
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-weight: bold;
    width: fit-content;
}
.gradientContainer:hover{
    box-shadow: #{$shadow-x-offset} #{$shadow-y-offset} #{$shadow-blur-radius} #{$hover-color};
}